body {
    font-family: "Roboto", sans-serif;
    width: 910px;
    margin: auto;
}

img {
    width: 100%;
}

hr {
    color: #7d97ad;
    background: #7d97ad;
    width: 100%;
    border: none;
    height: 5px;
    margin-bottom: 2vh;
}

h1 {
    font-weight: 100;
}

h2 {
    color: #2d3c49;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: #7d97ad;
}

a {
    color: #2d3c49;
}

/*Header*/

header {
    display: flex;
    flex-wrap: wrap;
}

.about {
    width: 50%;
    text-align: end;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
}

#udacity-logo {
    width: 60px;
    height: 60px;
}

/*Body*/
.project-list,
.hero,
.caption {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hero {
    align-items: center;
}

.caption {
    flex-wrap: nowrap;
}

.project {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.project:first-child {
    padding-left: 0;
}

.project:last-child {
    padding-right: 0;
}

.text-center {
    text-align: center;
    display: block;
}

@media screen and (max-width: 900px) {
    body {
        font-family: "Roboto", sans-serif;
        width: 100%;
    }

    /*Header*/
    .about {
        width: 75%;
    }

    .logo {
        width: 20%;
    }

    /*Body*/
    .project {
        padding: 0;
        flex-grow: 1;
    }
}
